/* 

Main Colors:
    #F06827     Orange (Vivid Tangelo).
    #59CD90     Green (Ocean Green).
    #3FA7D6     Blue (Maximum Blue).
    #FAC05E     Yellow (Rajah).
    #F79D84     Pink (Vivid Tangerine).

*/

body {
    background-color: white;
    margin: 0px;
}
* {
    font-family: 'Raleway', sans-serif !important;
}
.main-navbar-styles {
    background-color: #F06827;
}
.main-logo-styles {
    width: 30%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 3%;
    margin-bottom: 3%;
}
.card {
    width: 50%;
    left: 50%;
    transform: translate(-50%);
    margin-top: 5%;
    margin-bottom: 5%;
}
.btn {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: #F06827 !important;
    border-color: #F06827 !important;
}